// Entry (core/sections/_entry.scss) -----------------------------
$entry--padding-t__mobile: 		null;		// entry, top padding (mobile)
$entry--padding-b__mobile: 		null;		// entry, bottom padding (mobile)
$entry--padding-t__desktop: 		null;		// entry, top padding (desktop)
$entry--padding-b__desktop: 		null;		// entry, bottom padding (desktop)
$entry--inner-padding-v_mobile: 	48px;		// vertical padding, i.e. padding between content and image (mobile, both entry split and entry full)
$entry--inner-padding-v_desktop: 64px;		// vertical padding, i.e. padding between content and image (desktop, only entry full)
